* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

h1,h2,h3,h4,p {
  color: #111827;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 15vh 85vh;
}

.container .sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 6vh 25vh 67vh;
  padding: 20px;
  background-color: #1f2937;
}

.user-settings {
  display: grid;
  grid-template-rows: 47.3px 47.3px 47.3px;
}

.container .sidebar .general-settings {
  display: grid;
  margin-bottom: 50px;
}

.container .sidebar .general-settings li > a,
.container .sidebar .title a,
.container .sidebar .user-settings li > a{
  display: flex;
  align-items: center;
}

.title a{
  font-size: 35px;
  font-weight: 900;
}

.container .sidebar li {
  font-size: 22px;
}

.sidebar .general-settings li a img,
.sidebar .user-settings li a img {
  padding-right: 10px;
  margin-right: 12px;
}


.logo {
  padding-right: 10px;
  height: 50px;
}

.general-settings,
.user-settings {
  padding-left: 14px;
}

.sidebar-img,
.logo {
  filter: invert(94%) sepia(1%) saturate(699%) hue-rotate(155deg) brightness(105%) contrast(94%);
}

.sidebar a {
  color: #f9fafb;
}

.sidebar-link {
  width: min-content;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr 0.60fr 1fr;;
  grid-template-rows: 1fr 1.4fr;
  background-color: #d1d5db;
  padding: 0 20px 0 20px;
}

.search-bar-wrapper {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 0.60fr 1fr;
}

.search-bar-wrapper .search-bar {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 0.5fr 10fr;
}

.search-bar-wrapper > div {
  display: inline-block;
}

.user-main-tab-wrapper {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 0.60fr 1fr;
  align-items: center;
}

.notifications-tab {
  grid-column: 3/4;
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-items: center;
  gap: 15px;
  padding-left: 110px;
}

#notification-bell {
  grid-column: 8/9;
}

#username {
  grid-column: span 3;
  font-weight: 500;
  justify-self: start;
}

.navbar {
  grid-column: 3/4;
}

.navbar-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

#first-button{
  grid-column: 10/11;
}

#search-bar {
  height: 25px;
  border-radius: 10px;
  margin: auto 80px auto 10px;
  border-width: 0;
}

#search-bar:focus-visible {
  outline: none;
}

.search-bar > label {
  margin: auto;
}

#avatar-icon {
  height: 40px;
}

.avatar-wrapper { 
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content min-content;
  column-gap: 15px;
}

#username-big{
  grid-column: 2 / span 4;
  grid-row: 2/3;
}

#avatar-big {
  height: 60px;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}

#welcome-message {
  align-self: end;
  font-weight: 500;
  font-size: 14px;
}

#avatar-icon, #avatar-big {
  background-color: #f59e0b;
  border-radius: 50%;
}

.nav-button {
  min-width: 80px;
  min-height: 32px;
  border-radius: 15px;
  background-color: blue;
  color: #fafaf9;
  border-width: 0;
  font-weight: 600;
}

/* MAIN CONTENT */

.main {
  border:5px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr;
  grid-template-rows: 1fr 1fr;
}
.projects {
  grid-column: 1/3;
  grid-row: span 2;
  resize: both;
  overflow: auto;
  display: grid;
  gap: 20px;
  padding: 50px 10px 10px 10px;
  border: 1px solid grey;
  background-color: skyblue;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  position: relative;
}

.projects #your-projects {
  position: absolute;
  top: 15px;
  left: 10px;
}

.announcements {
  grid-column: 3/4;
}

.trendings {
  grid-column: 3/4;
  grid-row: 2/3;
}

.project-box {
  border: 2px solid black;
}